@charset "UTF-8";
body {
	max-width: 600px; 
    width: 95%;   
    margin: 0 auto;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: white; 
}

fieldset {
	max-width: 500px; 
    width: 100%;       
    margin: 30px auto; 
    border: 1px solid #D3D3D3;
    border-radius: 7px;
    padding: 20px;    
    box-sizing: border-box; 
}

input {
	border: 1px solid black;
	border-radius: 8px;
	width: 100%;
	max-width: 100%;      
    box-sizing: border-box;
    padding:8px;
}

span {
	padding: 3px;
	
}

label, input {
	margin-right: 3px;
}

div {
	margin: 12px 0;      
    display: flex;       
    flex-direction: column; 
    align-items: flex-start;
}

.error {
	color: red;
	font-size: smaller;
}

p{
	font-size:75%
}

h3{
	font-size:200%;
	margin: 10px 0px 5px 0px;
}

label{
	font-size: 90%;
	font-weight: bold;
	margin-bottom: 4px;
}

input[type="submit"]{
	color: #561109;
	border-radius: 15px;
	border-color: #561109;
	width: auto;         
    padding: 8px 20px;  
    cursor: pointer;   
    align-self: center
}

#logoSopra {
    display: block;        
    margin: 20px auto auto auto;   
    width: 100px; 
    height: auto;         
}

span {
    display: block;
    min-height: 1em; 
    font-size: 0.8em;
    margin-top: 2px;
}